@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: hsl(210 40% 96.08%);
    --foreground: hsl(0 0% 20%);
    --muted: hsl(200.6 94.37% 86.08%);
    --muted-foreground: hsl(38 0% 0%);
    --popover: hsl(38 0% 100%);
    --popover-foreground: hsl(38 0% 0%);
    --card: hsl(38 0% 100%);
    --card-foreground: hsl(38 0% 0%);
    --border: hsl(212.73 26.83% 83.92%);
    --input: hsl(212.73 26.83% 83.92%);
    --input-background: hsl(0, 0%, 100%);
    --primary: hsl(198.63 88.66% 48.43%);
    --primary-foreground: hsl(38 0% 100%);
    --secondary: hsl(215.12 22.65% 64.51%);
    --secondary-foreground: hsl(38 0% 100%);
    --accent: hsl(204 93.75% 93.73%);
    --accent-foreground: hsl(38 0% 0%);
    --destructive: hsl(357.1 96.28% 57.84%);
    --destructive-foreground: hsl(13 0% 100%);
    --ring: hsl(198.63 88.66% 48.43%);
    --chart-1: hsl(198.63 88.66% 48.43%);
    --chart-2: hsl(199.37 95.49% 73.92%);
    --chart-3: hsl(200.6 94.37% 86.08%);
    --chart-4: hsl(212.73 26.83% 83.92%);
    --chart-5: hsl(198.63 88.66% 48.43%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(222.22 47.37% 11.18%);
    --foreground: hsl(38 0% 100%);
    --muted: hsl(213.12 93.9% 67.84%);
    --muted-foreground: hsl(212.5 29.27% 83.92%);
    --popover: hsl(217.24 32.58% 17.45%);
    --popover-foreground: hsl(38 0% 100%);
    --card: hsl(215.38 28.47% 26.86%);
    --card-foreground: hsl(38 0% 100%);
    --border: hsl(215.29 19.32% 34.51%);
    --input: hsl(215.29 19.32% 34.51%);
    --input-background: hsl(216, 15%, 54%);
    --primary: hsl(216.23 100% 58.43%);
    --primary-foreground: hsl(38 0% 100%);
    --secondary: hsl(215.45 18.33% 47.06%);
    --secondary-foreground: hsl(38 0% 100%);
    --accent: hsl(211.7 96.36% 78.43%);
    --accent-foreground: hsl(38 0% 0%);
    --destructive: hsl(357.14 100% 45.29%);
    --destructive-foreground: hsl(0 0% 100%);
    --ring: hsl(217.22 91.22% 59.8%);
    --chart-1: hsl(217.22 91.22% 59.8%);
    --chart-2: hsl(213.12 93.9% 67.84%);
    --chart-3: hsl(211.7 96.36% 78.43%);
    --chart-4: hsl(215 20.22% 65.1%);
    --chart-5: hsl(213.12 93.9% 67.84%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  overflow: auto;
}

main {
  min-height: 100%;
}

button,
[role='button'] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

:root {
  --sidebar: hsl(0, 0%, 100%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
